h1 {
  font-weight: 900;
  margin: 0;
  padding: 0;
  display: inline;
}

h2 {
  margin: -20px;
  padding: 0;
}

span > a,
span > a:hover {
  font-weight: 700;
  text-transform: none;
}

.inline__heading {
  display: inline;
}
.points {
  font-size: 24px;
}
.userName {
  color: var(--active-color);
}

.avatar {
  width: 80px;
  margin: 0 auto;
  padding-bottom: 1.25rem;
}

.card {
  border: 0;
  text-align: center;
  margin-right: 10px;
}

.card__group {
  border: 0 !important;
}

.list__group__item {
  text-align: left !important;
  border: 1px solid #dddddd !important;
}

.list__group__item__rewards {
  width: 100% !important;
  text-align: left !important;
  border-bottom: 2px solid var(--primary-color) !important;
  border-top: 0;
  padding-left: 0px;
  margin-left: 0px;
}

.child__view__list {
  width: 35%;
  margin: 0 auto;
}

.chore__controls {
  margin-left: 10px;
}

.chore__incomplete {
  font-size: 25px;
  color: var(--active-color);
}

.chore__check {
  font-size: 25px;
  color: var(--primary-color);
}

.rewards__table {
  border-bottom: 1px solid var(--primary-color);
}
